public static {{{genericTypesDefinition}}} {{name}}.Builder{{{genericTypeVariables}}} builder({{name}}{{{genericTypeVariables}}} data) {
    return new {{name}}.Builder{{{genericClassCreation genericTypeVariables}}}(data);
}