public static final class Builder{{{genericTypesDefinition}}} {
    {{#allFields}}
        private {{{type}}} {{name}}{{#initialBuilderValue}} = {{{initialBuilderValue}}}{{/initialBuilderValue}};      {{/allFields}}
    private Builder() {}

    private Builder({{name}}{{{genericTypeVariables}}} initialData) {
        {{#allFields}} this.{{name}} = {{{builderConstructorTransformation}}}; {{/allFields}}
    }

    {{#allFields}}{{#isDeprecated}}@Deprecated{{/isDeprecated}} public Builder{{{genericTypeVariables}}} set{{startWithUpperCase name}}({{#isNullable}}@Nullable{{/isNullable}} {{{type}}} {{name}}) {
            this.{{name}} = {{name}};
            return this;
        }
        {{#isCollection}}{{#genericTypeAllowsAddition}}
            {{#isDeprecated}}@Deprecated{{/isDeprecated}} public Builder{{{genericTypeVariables}}} add{{upperSingular name}}({{{genericType}}} {{singular name}}) {
                this.{{name}}.add({{singular name}});
                return this;
            }

        {{#isDeprecated}}@Deprecated{{/isDeprecated}} public Builder{{{genericTypeVariables}}} add{{startWithUpperCase name}}(java.lang.Iterable<{{{genericType}}}> {{name}}) {
                for({{{genericType}}} {{singular name}} : {{name}}) {
                    add{{upperSingular name}}({{singular name}});
                }
                return this;
            }
        {{/genericTypeAllowsAddition}}{{/isCollection}}
        {{#isMap}}{{#isDeprecated}}@Deprecated{{/isDeprecated}} public Builder{{{genericTypeVariables}}} add{{startWithUpperCase name}}({{{type}}} {{name}}) {
                this.{{name}}.putAll({{name}});
                return this;
            }{{/isMap}}{{/allFields}}public {{name}}{{{genericTypeVariables}}} build() {
        return new {{name}}{{{genericClassCreation genericTypeVariables}}}({{#allFields}}{{name}}{{#unless @last}},{{/unless}}{{/allFields}});
    }
}
