{{#needsJsonConstructor}}@JsonCreator {{/needsJsonConstructor}}{{constructorVisibility}} {{Name}}({{#allFields}} {{#needsJsonConstructor}}{{{jsonProperty jsonPropertyValue}}}{{/needsJsonConstructor}}{{#isNullable}}@Nullable{{/isNullable}} {{{inputType}}} {{name}} {{#unless @last}},{{/unless}}{{/allFields}}) { {{#if inheritedFields}}
        super({{#inheritedFields}}{{name}} {{#unless @last}},{{/unless}}{{/inheritedFields}});{{/if}}
    {{#fields}}this.{{name}} = {{{inputTransformation}}};
    {{/fields}} }