@Override
public boolean equals(Object o) {
    if (this == o) {
        return true;
    }
    if (o == null || getClass() != o.getClass()) {
        return false;
    }

    {{{name}}} that = ({{{name}}}) o;
{{#if simpleEquals}}
    return {{#allFields}} {{objectsEquals}}(this.{{getter name}}, that.{{getter name}}) {{#unless @last}} && {{/unless}} {{#if @last}};{{/if}} {{/allFields}} {{else}}
    {{#allFields}} if (this.{{getter name}} != null ? !this.{{getter name}}.equals(that.{{getter name}}) : that.{{getter name}} != null) {
            return false;
        } {{/allFields}}
        return true;
{{/if}} }