    {{#isDeprecated}}@Deprecated{{/isDeprecated}} {{#isOverrides}}@Override{{/isOverrides}}
    public {{#isNullable}}{{{optionType type}}}{{/isNullable}}{{^isNullable}}{{{type}}}{{/isNullable}} get{{startWithUpperCase name}}() {
        return {{#isNullable}}{{{createOption name}}}{{/isNullable}}{{^isNullable}}{{{name}}}{{/isNullable}};
    }