@Override
public int hashCode() { {{#if simpleEquals}}
    return {{objectsHash}}({{#allFields}} {{getter name}} {{#unless @last}},{{/unless}}{{/allFields}}); {{else}} {{#allFields}}
        {{#if @first}}int result = {{getter name}} != null ? {{getter name}}.hashCode() : 0;{{else}}result = 31 * result + ({{getter name}} != null ? {{getter name}}.hashCode() : 0);{{/if}} {{/allFields}}
    return result;{{/if}}
}