{{#isDeprecated}}@Deprecated{{/isDeprecated}} {{#isOverrides}}@Override{{/isOverrides}}
public void set{{startWithUpperCase name}}({{#isNullable}}@Nullable{{/isNullable}} {{{type}}} {{name}}) {
    this.{{name}} = {{inputTransformation}};
}