@Override
public String toString() { {{#if guava}}
    return {{toStringHelper}}(this)
        {{#allFields}}.add("{{name}}", {{getter name}})
        {{/allFields}}.toString(); {{else}} {{#if java8}}
    return new StringJoiner(", ", this.getClass().getSimpleName() + "[", "]")
        {{#allFields}}.add("{{name}}=" + {{getter name}})
        {{/allFields}}.toString(); {{else}}
    return "{{name}}{" +
        {{#allFields}}"{{#unless @first}}, {{/unless}}{{name}}='" + {{getter name}} + "'" +
                {{/allFields}}
        "}"; {{/if}} {{/if}}
}